<div class="container p-4">

  <h3 class="fw-bold mb-4">Admin Details</h3>

  <div class="card p-4 shadow-sm">

    <div class="row mb-3">

      <div class="col-md-6">
        <label>First Name</label>
        <input class="form-control" [(ngModel)]="admin.firstName">
      </div>

      <div class="col-md-6">
        <label>Last Name</label>
        <input class="form-control" [(ngModel)]="admin.lastName">
      </div>

    </div>

    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" [(ngModel)]="admin.email">
    </div>
<div class="mb-3">
  <label>Phone</label>
  <input class="form-control" [(ngModel)]="admin.phoneNumber">
</div>
    <div class="mb-3">
      <label>Role</label>
      <select class="form-control" [(ngModel)]="admin.role">
        <option>SuperAdmin</option>
        <option>Manager</option>
        <option>Moderator</option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="update()">
      Save Changes
    </button>

  </div>

</div>
