a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* seller-layout.component.css */
.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logout-btn {
  margin-top: auto;
}
