<div class="container-fluid">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="fw-bold">Welcome back, GadgetStore 👋</h2>
      <p class="text-muted">Here is your daily store performance overview.</p>
    </div>

<div class="d-flex align-items-center gap-2">

<a [routerLink]="['../saller-notifications']" class="btn btn-light position-relative">
  <i class="bi bi-bell-fill fs-5"></i>
</a>

  <!-- زرار اضافة منتج -->
      <button [routerLink]="['../add-product/add-product.component.html']" class="btn btn-primary">+ Add Product</button>


</div>
  </div>

  <!-- Stats -->
  <div class="row g-3 mb-4">
    <div class="col-md-2" *ngFor="let stat of stats">
      <div class="card border-0 shadow-sm h-100">
        <div class="card-body">
          <h6 class="text-muted">{{stat.title}}</h6>
          <h4 class="fw-bold">{{stat.value}}</h4>

          <span
            *ngIf="stat.change"
            [class.text-success]="stat.positive"
            [class.text-danger]="!stat.positive">
            {{stat.change}}
          </span>

        </div>
      </div>
    </div>
  </div>

  <!-- Revenue + Top Products -->
  <div class="row g-3 mb-4">

    <!-- Revenue -->
    <div class="col-md-8">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <h5 class="fw-bold mb-3">Revenue Performance</h5>
<canvas id="revenueChart"></canvas>
        </div>
      </div>
    </div>

    <!-- Top Products -->
<div class="col-md-4">
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Top Products</h5>

      <div *ngFor="let product of products" class="d-flex align-items-center justify-content-between mb-3">

        <div class="d-flex align-items-center">
          <img [src]="product.image" alt="{{product.name}}" class="rounded me-2" style="width:40px; height:40px; object-fit:cover;">
          <div>
            <div>{{product.name}}</div>
            <small class="text-muted">{{product.category}}</small>
          </div>
        </div>

        <span class="fw-bold">{{product.sold}} Sold</span>

      </div>

    </div>
  </div>
</div>

  </div>

  <!-- Recent Orders -->
  <div class="card border-0 shadow-sm">
    <div class="card-body">
<!-- Filters -->
<div class="d-flex justify-content-start mb-3">

  <select class="form-select form-select w-auto">
    <option>All Status</option>
    <option>Approved</option>
    <option>Pending</option>
    <option>Rejected</option>
  </select>

</div>
      <div class="table-responsive">
        <table class="table align-middle">

          <thead class="table-light">
            <tr>
              <th>Order ID</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr   *ngFor="let order of paginatedProducts">
              <td>{{order.id}}</td>
              <td>{{order.customer}}</td>
              <td>{{order.amount}}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="{
                    'bg-success': order.status === 'Delivered',
                    'bg-warning text-dark': order.status === 'Processing',
                    'bg-secondary': order.status === 'Pending'
                  }">
                  {{order.status}}
                </span>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
<!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center p-3 border-top">
      <small class="text-muted">
     Showing
{{ (currentPage - 1) * itemsPerPage + 1 }}
to
{{ (currentPage - 1) * itemsPerPage + paginatedProducts.length }}
of
{{ orders.length }}
results
      </small>

<div class="btn-group">

  <!-- Previous -->
  <button
    class="btn btn-outline-secondary btn-sm"
    (click)="prevPage()"
    [disabled]="currentPage === 1">
    Previous
  </button>

  <!-- Page Numbers -->
  <button
    *ngFor="let page of pages"
    class="btn btn-sm"
    [ngClass]="{
      'btn-primary': currentPage === page,
      'btn-outline-secondary': currentPage !== page
    }"
    (click)="goToPage(page)">
    {{ page }}
  </button>

  <!-- Next -->
  <button
    class="btn btn-outline-secondary btn-sm"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages">
    Next
  </button>

</div>
    </div>

    </div>
  </div>

</div>
