<div class="container p-4">

  <h3 class="fw-bold mb-4">Add New Administrator</h3>

  <div class="card shadow-sm p-4">

    <h5 class="mb-3">Personal Information</h5>

    <div class="row mb-3">
      <div class="col-md-6">
        <input class="form-control" placeholder="First Name" [(ngModel)]="admin.firstName">
      </div>

      <div class="col-md-6">
        <input class="form-control" placeholder="Last Name" [(ngModel)]="admin.lastName">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <input class="form-control" placeholder="Email" [(ngModel)]="admin.email">
      </div>

      <div class="col-md-6">
        <input class="form-control" placeholder="Phone" [(ngModel)]="admin.phone">
      </div>
    </div>

    <h5>Role</h5>
    <select class="form-select mb-3" [(ngModel)]="admin.role">
      <option>Editor</option>
      <option>Manager</option>
      <option>Super Admin</option>
    </select>

    <h5>Security</h5>

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="admin.password">
      </div>

      <div class="col-md-6">
        <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="admin.confirmPassword">
      </div>
    </div>

    <div class="text-end">
      <button class="btn btn-secondary me-2">Cancel</button>
      <button class="btn btn-primary">Add Admin</button>
    </div>

  </div>

</div>
