<div class="container mt-4" [formGroup]="productForm">

  <h3 class="fw-bold mb-4">Edit Product</h3>

  <!-- STEP 1 -->
  <div class="card p-4 shadow-sm mb-4">

    <div class="mb-3">
      <label>Product Name</label>
      <input class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price">
    </div>

    <div class="mb-3">
      <label>Category</label>
      <select class="form-select" formControlName="categoryId">
        <option *ngFor="let c of categories" [value]="c.id">
          {{c.name}}
        </option>
      </select>
    </div>

    <!-- Sizes -->
    <label class="fw-bold">Size Details</label>

    <table class="table table-bordered text-center mt-2">
      <thead>
        <tr>
          <th>Size</th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody formArrayName="sizeDetails">
        <tr *ngFor="let s of sizeDetails.controls; let i = index" [formGroupName]="i">

          <td><input class="form-control" formControlName="size"></td>
          <td><input class="form-control" formControlName="a"></td>
          <td><input class="form-control" formControlName="b"></td>
          <td><input class="form-control" formControlName="c"></td>

          <td>
            <button class="btn btn-danger btn-sm" (click)="removeSize(i)">X</button>
          </td>

        </tr>
      </tbody>
    </table>

    <button class="btn btn-secondary btn-sm" (click)="addSize()">+ Add Size</button>

  </div>

  <!-- STEP 2 -->
  <div class="card p-4 shadow-sm">

    <!-- Main Image -->
    <div class="mb-3">
      <label>Main Image</label>
      <input type="file" class="form-control" (change)="onMainImageChange($event)">

      <img *ngIf="mainImagePreview"
           [src]="mainImagePreview"
           width="120"
           class="mt-2 rounded">
    </div>

    <!-- Additional Images -->
    <div class="mb-3">
      <label>Additional Images</label>
      <input type="file" multiple class="form-control" (change)="onAdditionalImagesChange($event)">

      <div class="d-flex gap-2 mt-2">
        <img *ngFor="let img of additionalImagesPreview"
             [src]="img"
             width="80">
      </div>
    </div>

    <!-- Save -->
    <button class="btn btn-success" (click)="saveChanges()">
      Save Changes
    </button>

  </div>

</div>
