<div class="container-fluid p-4">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h3 class="fw-bold">Factory 🏭</h3>
      <p class="text-muted">Manage factory profile</p>
    </div>

    <div class="d-flex gap-2">
      <button class="btn btn-outline-primary" (click)="toggleEdit()">
        {{ editMode ? 'Cancel' : 'Edit' }}
      </button>

      <button class="btn btn-success" *ngIf="editMode" (click)="save()">
        Save
      </button>

      <button class="btn btn-danger" (click)="deleteFactory()" disabled>
        Delete
      </button>
    </div>
  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center py-5">
    <div class="spinner-border text-primary"></div>
  </div>

  <div *ngIf="!loading && factory">

    <div class="row g-4">

      <!-- LEFT -->
      <div class="col-md-4">

        <div class="card border-0 shadow-sm text-center p-3">

          <img [src]="factory.logoUrl" class="company-logo mb-3">

          <h5 class="fw-bold">{{ factory.name }}</h5>

          <p class="text-muted">{{ factory.email }}</p>
          <p class="text-muted">{{ factory.phoneNumber }}</p>

          <div *ngIf="editMode">
            <input type="file" class="form-control mb-2" (change)="onFileChange($event)">
            <button class="btn btn-sm btn-dark w-100" (click)="uploadLogo()">
              Upload Logo
            </button>
          </div>

        </div>

      </div>

      <!-- RIGHT -->
      <div class="col-md-8">

        <div class="card border-0 shadow-sm p-3">

          <h5 class="fw-bold mb-3">Factory Info</h5>

          <div class="row g-3">

            <div class="col-md-6">
              <label>Name</label>
              <input class="form-control" [(ngModel)]="form.name" [disabled]="!editMode">
            </div>

            <div class="col-md-6">
              <label>Email</label>
              <input class="form-control" [(ngModel)]="form.email" [disabled]="!editMode">
            </div>

            <div class="col-md-6">
              <label>Phone</label>
              <input class="form-control" [(ngModel)]="form.phoneNumber" [disabled]="!editMode">
            </div>

            <div class="col-md-6">
              <label>Commercial Reg</label>
              <input class="form-control" [(ngModel)]="form.commercialRegisterNumber" [disabled]="!editMode">
            </div>

            <div class="col-md-6">
              <label>Tax ID</label>
              <input class="form-control" [(ngModel)]="form.taxIdNumber" [disabled]="!editMode">
            </div>

            <div class="col-md-12">
              <label>Description</label>
              <textarea class="form-control" rows="3"
                        [(ngModel)]="form.description"
                        [disabled]="!editMode"></textarea>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
