<div class="container-fluid p-4">

  <!-- SEARCH + FILTER -->
  <div class="card shadow-sm mb-3">
    <div class="card-body">

      <div class="d-flex gap-2">

        <input class="form-control"
               placeholder="Search..."
               [(ngModel)]="searchTerm"
               (input)="onSearch()">

        <button class="btn btn-outline-primary"
                (click)="setStatus(null)">
          All
        </button>

        <button class="btn btn-outline-success"
                (click)="setStatus('Paid')">
          Paid
        </button>

        <button class="btn btn-outline-warning"
                (click)="setStatus('Ready')">
          Ready
        </button>

        <button class="btn btn-outline-danger"
                (click)="setStatus('Cancelled')">
          Cancelled
        </button>

      </div>

    </div>
  </div>

  <!-- TABLE -->
  <table class="table table-hover">

    <thead>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Items</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let order of orders"
          (click)="openDetails(order.id)"
          style="cursor:pointer">

        <td>#{{order.id}}</td>
        <td>{{order.recipientName}}</td>
        <td>{{order.orderType}}</td>
     <td>{{order.totalAmount}} LE</td>


        <td>
          <span class="badge bg-success">{{order.status}}</span>
        </td>
       <td>
  <span class="badge bg-dark">
    {{ order.itemsCount || 0 }}
  </span>
</td>
      </tr>

    </tbody>

  </table>

</div>
