<footer class="wc-footer">
  <div class="wc-footer-inner">
    <div class="wc-footer-brand">
      <h2>WEARCAST</h2>
      <p>We have clothes that match your style and which you&apos;re proud to wear.</p>
    </div>
    <div class="wc-footer-columns">
      <div class="col">
        <h3>Company</h3>
        <p>About</p>
        <p>Features</p>
        <p>Works</p>
      </div>
      <div class="col">
        <h3>Help</h3>
        <p>Customer support</p>
        <p>Delivery details</p>
        <p>Terms &amp; conditions</p>
      </div>
      <div class="col">
        <h3>Resources</h3>
        <p>Blog</p>
        <p>Guides</p>
      </div>
    </div>
  </div>
  <div class="wc-footer-bottom">
    <p>Wearcast © 2026. All rights reserved.</p>
  </div>
</footer>

